{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {waipahu, "0.1.0"}, [
        waipahu,
        {lahaina, "0.1.0", none},
        {rebarred, "0.1.0", none},
        {procedural, "0.1.1", none},
        pokemon,
        monade,
        sasl
    ]},

    {mode, dev},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod}
        ]}
    ]}
]}.
